<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
    />
    <title>About us</title>
</head>
<body style="background-color: #dadada">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">French budget</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                    class="collapse navbar-collapse justify-content-end"
                    id="navbarNav"
            >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">About us & contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Go to dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="p-3">
    <div class="row">
        <div class="col">
            <div class="title text-center">
                <h1>About us</h1>
                <h2>Gratis is gratis</h2>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md p-2 mx-4 my-1 bg-light text-center rounded">
            <h2>Vision</h2>
            <p>
                Ons doel is dat wij met behand van dit webapplicatie studenten willen helpen met het beheren van hun financiën.
            </p>
        </div>

        <div class="col-sm-12 col-md p-2 mx-3 my-1 bg-light text-center rounded">
            <h2>About us</h2>
            <p>
                Wij de stichting Klikjongeren zijn een sitchting die zich richten op het welzijn van jongeren.
            </p>
        </div>

        <div class="col-sm-12 col-md p-2 mx-4 my-1 bg-light text-center rounded">
            <h2>Contact</h2>
            <h4>support@frenchfries.net</h4>
            <h4>+3151245145</h4>
            <h4>Brasserskade 1</h4>
        </div>
    </div>

    <div class="row d-flex justify-content-center mx-2">
        <div class="bg-light my-3 rounded text-center">
            <h2>Send us an email</h2>

            <form>
                <div class="mb-3 d-flex justify-content-center">
                    <input type="email" class="form-control w-75" placeholder="Email">
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <textarea class="form-control w-75" placeholder="Write a message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </form>
        </div>
    </div>
</main>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"
></script>
</body>
</html>