{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {# <p>Email: {{ user }}</p> #}
    {{ render_chart(chart) }}


{% endif %}

{% endblock %}
